<div class="container my-5">
    <h1 class="display-5">About</h1>

    <div class="row">
        <div class="col-md-5">
            <div class="img-box">
                <img src="/images/continents.jpg" alt="Continents">
            </div>
        </div>
        <div class="col-md-7 d-flex align-items-center">
            <div class="container">
                <p>
                    <i>List of countries API</i> is an open API designed to provide an easy access to general information about
                    the world's countries. It's mainly oriented to software's developers because its facilities to
                    generate lists of countries, continents and languages names; ready to use in dropdows, comboboxes,
                    etc.
                </p>
            </div>
        </div>
    </div>

    <hr class="w-50" style="margin: 4rem auto 1rem;">
    <h3 class="fw-normal">Dev Team</h3>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
            <div class="bg-light rounded shadow-sm py-5 px-4"><img src="/images/dev.jpg" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Daniel Gonz&aacute;lez Cu&eacute;tara</h5><span
                    class="small text-uppercase text-muted">Web Developer</span>
                <ul class="social mb-0 list-inline mt-3 text-center">
                    <li class="list-inline-item"><a href="https://github.com/danny1998cuba" class="social-link"><i
                                class="fa fa-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://instagram.com/danny.glezcuet98" class="social-link"><i
                                class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://linkedin.com/in/danny98cuba" class="social-link"><i
                                class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>