<div class="container my-5">
    <h1 class="display-5">List of countries API</h1>
    <p>An API to get the list of all countries of the world in a big sort of formats.</p>


    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <img src="/images/continents.jpg" class="card-img-top" alt="Continents">
                <div class="card-body">
                    <h5 class="card-title">Continents</h5>
                    <p class="card-text">Get info about the continents.</p>
                    <a href="/docs/#/Continent" class="btn btn-primary">See endpoints</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <img src="/images/countries.jpg" class="card-img-top" alt="Countries">
                <div class="card-body">
                    <h5 class="card-title">Countries</h5>
                    <p class="card-text">Get info about the countries. Filter the info by continents, languages and
                        more...</p>
                    <a href="/docs/#/Country" class="btn btn-primary">See endpoints</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="/images/lang.jpg" class="card-img-top" alt="Languages">
                <div class="card-body">
                    <h5 class="card-title">Languages</h5>
                    <p class="card-text">Get info about the languages.</p>
                    <a href="/docs/#/Language" class="btn btn-primary">See endpoints</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="w-50" style="margin: 4rem auto 1rem;">
    <h2>Incoming features</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <b>
                        Programing languages compatibility
                    </b>
                </div>
                <div class="card-body">
                    <p class="card-text">A sort of tools to get the list of countries ready to place into dropdows,
                        comboboxes an another structures, based on the way of store the data fo each languages.</p>
                </div>
                <div class="card-footer text-muted">
                    Coming soon...
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
    </div>



    <br><br><br>
    <p class="text-center">Follow me on Github for more... <a href="https://github.com/danny1998cuba"
            target="_blank">danny1998cuba</a></p>
</div>