* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3 !important;
  min-width: 450px;
}

.card-img-top {
  width: 100%;
  min-height: 250px;
  object-fit: contain;
}

.img-box img {
  width: 100%;
  object-fit: cover;
}

.social-link {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/* .contact-card {
  padding: 1.5rem 1rem 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  margin: 1.5rem auto;
  background: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.2),
    0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: all .3s;

}

.contact-card:hover {
  cursor: pointer;
  transition: all .5s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4),
    0 2px 5px rgba(0, 0, 0, 0.6),
    0 12px 30px rgba(0, 0, 0, 0.4);
}

.contact-card:hover .social {
  transition: all 0.5s;
  opacity: 1;
}

.contact-card:hover .social .i.fa {
  background-color: #efefef;
}

.contact-card img {
  margin: 0.25rem 1.25rem;
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.contact-card .sep {
  align-self: stretch;
  width: 2px;
  background-color: rgba(#000, 0.2);
  margin-right: 1.5rem;
}

.contact-card .content {
  display: flex;
  flex-direction: column;
}

.contact-card .content p {
  margin-bottom: 0;
}

.contact-card .social {
  margin-top: 1rem;
  opacity: 0.5;
  overflow: hidden;
  transition: all 0.5s;
}

.contact-card .social i.fab {
  font-size: 1.5rem;
  margin-right: 0.375rem;
  color: #666;
  transition: all 0.2s;
  background-color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 8px 0;
  border-radius: 50%;
}

.contact-card .social i.fab:hover {
  color: #000;
  transition: all 0.3s;
  background-color: #ddd;
}

.contact-card .social i.fa-github:hover {
  background-color: #333;
  color: #fff;
}

.contact-card .social i.fa-facebook:hover {
  background-color: #385999;
  color: #fff;
}

.contact-card .social i.fa-linkedin:hover {
  background-color: #0078b6;
  color: #fff;
}

.contact-card .social i.fa-instagram:hover {
  background-color: #8e37c6;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .contact-card {
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
  }

  .contact-card img {
    margin-top: -4px;
    margin-bottom: 1rem;
  }

  .contact-card .sep {
    display: none;
    margin-bottom: 1rem;
  }

  .contact-card .content {
    padding: 0 1rem;
  }
} */